{% extends 'index1.html' %}
{% load static %}
{% block services_active %} active {% endblock %}

{% block content %}
  
    <!-- Services Section -->
    <section id="services" class="services section" style="margin-top: 5rem;">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
          <h2>Services</h2>
          <p>A courier company providing a range of services aimed at facilitating the transportation and delivery of packages, documents, and goods.</p>
        </div><!-- End Section Title -->
  
        <div class="container">
  
          <div class="row gy-4">
  
            <div class="col-lg-6 " data-aos="fade-up" data-aos-delay="100">
              <div class="service-item d-flex">
                <div class="icon flex-shrink-0"><i class="bi bi-briefcase"></i></div>
                <div>
                  <h4 class="title"><a href="" class="stretched-link">Storage</a></h4>
                  <p class="description">We understand that proper storage is crucial for businesses to efficiently manage inventory and streamline their operations. Whether you require short-term or long-term storage</p>
                </p>
                </div>
              </div>
            </div>
            <!-- End Service Item -->
  
            <div class="col-lg-6 " data-aos="fade-up" data-aos-delay="200">
              <div class="service-item d-flex">
                <div class="icon flex-shrink-0"><i class="bi bi-card-checklist"></i></div>
                <div>
                  <h4 class="title"><a href="" class="stretched-link">Trucking</a></h4>
                  <p class="description">We have built an extensive network of trusted carriers across various regions. Our partnerships with reputable trucking companies enable us to provide reliable and efficient transportation services, ensuring your goods reach their destination on time.</p>
                </div>
              </div>
            </div><!-- End Service Item -->
  
            <div class="col-lg-6 " data-aos="fade-up" data-aos-delay="300">
              <div class="service-item d-flex">
                <div class="icon flex-shrink-0"><i class="bi bi-bar-chart"></i></div>
                <div>
                  <h4 class="title"><a href="services-details.html" class="stretched-link">Logistics</a></h4>
                  <p class="description" >We offer comprehensive logistics services to support your supply chain and streamline the movement of goods from point of origin to the final destination. We understand the complexities of logistics management and provide tailored solutions to meet your specific requirements</p>
                </div>
              </div>
            </div><!-- End Service Item -->
  
            <div class="col-lg-6 " data-aos="fade-up" data-aos-delay="400">
              <div class="service-item d-flex">
                <div class="icon flex-shrink-0"><i class="bi bi-binoculars"></i></div>
                <div>
                  <h4 class="title"><a href="" class="stretched-link">Warehousing</a></h4>
                  <p class="description">We have state-of-the-art warehousing facilities equipped with advanced security systems to ensure the safety and protection of your goods. Our facilities are monitored 24/7, and we have strict access control measures in place to prevent unauthorized entry.</p>
                </div>
              </div>
            </div><!-- End Service Item -->
  
            <div class="col-lg-6 " data-aos="fade-up" data-aos-delay="500">
              <div class="service-item d-flex">
                <div class="icon flex-shrink-0"><i class="bi bi-brightness-high"></i></div>
                <div>
                  <h4 class="title"><a href="" class="stretched-link">Packaging</a></h4>
                  <p class="description">Our experienced team can assist you in designing custom packaging solutions that meet your specific requirements. We take into consideration the nature of your products, their fragility, and any specific handling instructions to create packaging that provides optimal protection.</p>
                </div>
              </div>
            </div><!-- End Service Item -->
  
            <div class="col-lg-6 " data-aos="fade-up" data-aos-delay="600">
              <div class="service-item d-flex">
                <div class="icon flex-shrink-0"><i class="bi bi-calendar4-week"></i></div>
                <div>
                  <h4 class="title"><a href="" class="stretched-link">Cargo</a></h4>
                  <p class="description">We understand the importance of protecting your valuable cargo. As part of our cargo services, we offer comprehensive cargo insurance options to provide additional peace of mind. Our insurance coverage protects against loss, damage, or theft during transportation, offering financial security for your goods.</p>
                </div>
              </div>
            </div><!-- End Service Item -->
  
          </div>
  
        </div>
  
      </section><!-- /Services Section -->
{% endblock %}